#app {
    color: red;
}

body {
    padding-top: 80px;
}


.color-primary {
    color: #87B76A;
}

.color-primary-2 {
    color: #171717
}

.color-secondary {
    color: #2e2e2e
}

.background-primary {
    background-color: #adbf91;
}

#app {
    font-family: gilroyff, helvetica, arial, helvetica, arial;
}

.medium-bold {
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background-color: #87B76A;
    border-color: #87B76A;
}

.btn-primary:hover {
    color: #87B76A;
    background-color: #fff;
    border-color: #87B76A;
}

.btn-primary:active {
    color: #87B76A;
    background-color: #fff;
    border-color: #87B76A;
}

.btn-primary:focus {
    color: #fff;
    background-color: #87B76A;
    border-color: #87B76A;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #87B76A;
    border-color: #87B76A;
}

/* 
.nav-link {
    color: #87B76A;
}

.nav-link:hover {
    color: #87B76A;
} */

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item a {
    color: #2e2e2e;
}

.bg-price {
    background-color: #adbf91;
    padding: 8px;
    border-radius: 5px;
}

.table th {
    text-align: center;
}

.table .price {
    text-align: right;
}

.router-link-exact-active .nav-link {
    color: red;
}

/* start navbar */
.navbar-default {
    transition: 200ms ease;
}

.navbar-default.scrolled {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

/* end navbar */


/* start filter search */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #adbf91;
    padding-right: 0px;
    color: #adbf91;
}

.input-search::placeholder {
    color: #adbf91;
    font-size: 15px;
    /* letter-spacing: 2px; */
    font-weight: 100;
    font-family: gilroyff, helvetica, arial, helvetica, arial;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus {
    color: #adbf91;
}


.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #adbf91;
    ;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    font-family: gilroyff, helvetica, arial, helvetica, arial;
    font-size: 15px;
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #adbf91;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* end filter search  */


/* button filter */
.btn-outline-primary {
    border-color: #adbf91;
    color:#adbf91;
}

.btn-outline-primary:hover {
    border-color: #adbf91;
    background-color: #adbf91;
}

.btn-outline-primary:active {
    border-color: #adbf91;
    background-color: #adbf91;
}

.btn.ml-1.btn-primary {
    background-color: #adbf91;
    border-color: #adbf91;
    color: #fff;
}

.btn.ml-1.btn-outline-primary {
    background-color: #fff;
    border-color: #adbf91;
    color: #adbf91;
}

.motto {
    text-align: justify;
}

.product-description {
    text-align: justify;
}

/* responsive element */
@media (max-width: 575.98px) {
    .text-welcome {
        font-weight: 500;
        font-size: 20px;
    }

    .motto {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 14px;
    }

    .btn-filter-sub-category {
        font-size: 14px;
    }

    .card-product{
        font-size: 12px;
    }

    .card-title {
        font-size: 15px;
    }

    .btn-primary-card-product {
        font-size: 12px;
    }

    .product-name {
        margin-top: 10px;
        font-size: 23px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .text-welcome {
        font-weight: 500;
        font-size: 20px;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .text-welcome {
        font-weight: 500;
        font-size: 30px;
    }
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

 }